<?xml version="1.0"?>
<config>
    <modules>
        <CueBlocks_PopUp>
            <version>0.1.0</version>
        </CueBlocks_PopUp>
    </modules>
    <global>
        <models>
            <popUp>
                <class>CueBlocks_PopUp_Model</class>
                <resourceModel>popUp_mysql4</resourceModel>
            </popUp>
            <popUp_mysql4>
                <class>CueBlocks_PopUp_Model_Mysql4</class>
                <entities>
                    <popUp>
                        <table>cb_popup</table>
                    </popUp>
                </entities>
            </popUp_mysql4>
        </models>
        <blocks>
            <popUp>
                <class>CueBlocks_PopUp_Block</class>
            </popUp>
        </blocks>
        <helpers>
            <popUp>
                <class>CueBlocks_PopUp_Helper</class>
            </popUp>
        </helpers>
        <resources>
            <popUp_setup>
                <setup>
                    <module>CueBlocks_PopUp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popUp_setup>
            <popUp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popUp_write>
            <popUp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popUp_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <popup before="Mage_Adminhtml">CueBlocks_PopUp_Adminhtml</popup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <popUp>
                    <file>popup.xml</file>
                </popUp>
            </updates>
        </layout>
    </adminhtml>
</config>